<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Home -->
    <add key="connStr" value="user id =mytest; password=oracle;  data source=Pruebas3"/>

    <add key="defServiceName" value=""/>
    <add key="dbOwner" value="MYTEST"/>
    <add key="defServiceName" value="E-GV-ENVSIOPEL-PONEROFERTAENV"/>
    <add key="hideExitButton" value="false"/>
    <add key="frmCaption" value="Generar Service Code"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>